@page "/"


@if (_isBuildingIndex)
{
    <div class="loader-container">
        <div class="col-sm-4 col-xs-6 ml-auto mr-auto mt-auto mb-auto">
            <MudProgressLinear Rounded Size="Size.Small" Value="_loadProgress" Max="100" Color="Color.Primary" />
            <p>Loading country data.. @_loadProgress%</p>
        </div>

    </div>
}
else
{
    if (_showSelectProfilePage)
    {
        <div class="loader-container">
            <div class="col-sm-4 col-xs-6 ml-auto mr-auto mt-auto mb-auto">
                <SwitchPage />
            </div>

        </div>
    }
    else
    {
        <HeaderMenu />

        <div class="pc-container container">
            <div class="pc-content">
                <PageFlow.Blazor.FlowUI />
            </div>
        </div>
    }
}
