<PageTitle>Search Country - My Country App</PageTitle>

<div class="col-sm-8 col-xs-12 ml-auto mr-auto mt-auto mb-auto">
    <h1>Search Country</h1>
    <p class="text-muted mb-5">Search and know about a specific country</p>


</div>
