<PageTitle>Dashboard - My Country App</PageTitle>

<div class="col-sm-8 col-xs-12 ml-auto mr-auto mt-auto mb-auto">

    <div class="card social-widget-card bg-primary">
        <div class="card-body">
            <h1 class="text-white m-0">3245+</h1>
            <span class="m-t-10">Countries & Search</span>
            <i class="fab fa-globe pb-5"></i>
        </div>
    </div>

    <h4>Ads Discovered</h4>
    <p class="text-muted mb-3">View and manage ads discovered through custom scan search you initiated.</p>
</div>
