<PageTitle>Favorites - My Country App</PageTitle>

<div class="col-sm-8 col-xs-12 ml-auto mr-auto mt-auto mb-auto">

    @if (Bookmarks.Count == 0)
    {
        <NoDataDisplay Header="No Favorite"
                       Icon="@Icons.Material.TwoTone.Pin"
                       Message="No favorites have been bookmarked yet" />
    }
    else
    {
        <h1>Bookmarks</h1>
        <p class="text-muted mb-5">Your list of favorite countries you have a tab on</p>

        <div class="card">
            <div class="card-header"><h5>Recent Search</h5></div>
            <div class="card-body">
                <div class="row">
                    @foreach (var item in Bookmarks)
                    {
                        <div class="col-sm-6 col-xs-12">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0 pt-0">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div @onclick="() => ShowFavorite(item)">
                                            <p class="mb-1"> @item.Type </p>
                                            <p class="text-primary mb-0">@item.DisplayName</p>
                                        </div>
                                        <div class="form-check form-switch p-0">
                                            <MudIcon Color="Color.Error" Icon="@Icons.Material.TwoTone.Delete" @onclick="() => Delete(item)" Style="cursor:pointer" />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>