<PageTitle>About Us - My Country App</PageTitle>


<div class="col-sm-8 col-xs-12 ml-auto mr-auto mt-auto mb-auto">
    @if (IsLoading)
    {
        <MudSkeleton Width="30%" Height="80px" Animation="Animation.Pulse" />
        <MudSkeleton Width="80%" Animation="Animation.Pulse" />
        <MudSkeleton Width="60%" Animation="Animation.Pulse" Class="mb-5" />
    }
    else
    {
         <h1>@GeneralData?.AppName</h1>
    <p class="text-muted mb-5">@GeneralData?.AppDescription</p>
    }
   
    <div class="card">
        <div class="card-header"><h5>Legal</h5></div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item px-0 pt-0" data-bs-toggle="offcanvas" data-bs-target="#viewTerms">
                    <div class="d-inline-block"><MudIcon Icon="@Icons.Material.TwoTone.Class" /> Terms of Service </div>
                </li>
                <li class="list-group-item px-0 pb-0" data-bs-toggle="offcanvas" data-bs-target="#viewPrivacy">
                    <div class="d-inline-block"><MudIcon Icon="@Icons.Material.TwoTone.Policy" /> Privacy Policy </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-header"><h5>Version</h5></div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item px-0 pt-0 pb-0">
                    <div class="d-inline-block"><MudIcon Icon="@Icons.Material.TwoTone.AppSettingsAlt" /> App Version </div>
                    <div class="float-end mr-3">v1.0</div>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- #region terms of service -->
<div class="offcanvas pc-announcement-offcanvas offcanvas-end" tabindex="-1" id="viewTerms" aria-labelledby="viewTerms">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Terms Of Service</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @RenderTermsOfService
    </div>
</div>
<!-- #endregion -->
<!-- #region privacy policy -->
<div class="offcanvas pc-announcement-offcanvas offcanvas-end" tabindex="-1" id="viewPrivacy" aria-labelledby="viewPrivacy">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Privacy Policy</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @RenderPrivacyPolicy
    </div>
</div>
<!-- #endregion -->

