@page "/"


@if (_isBuildingIndex)
{
    <div style="align-content:center;min-height:100vh;background:url(assets/images/client-bg.png) no-repeat 50%;background-size:cover;">
        <div class="col-sm-4 col-xs-6 ml-auto mr-auto mt-auto mb-auto">
            <MudProgressLinear Rounded Size="Size.Small" Value="_loadProgress" Max="100" Color="Color.Primary" />
            <p>Loading country data.. @_loadProgress%</p>
        </div>

    </div>
}
else
{
    if (_showSelectProfilePage)
    {
        <div style="align-content:center;min-height:100vh;background:url(assets/images/client-bg.png) no-repeat 50%;background-size:cover;">
            <div class="col-sm-4 col-xs-6 ml-auto mr-auto mt-auto mb-auto">
               <SwitchPage />
            </div>

        </div>
    }
    else
    {
        <HeaderMenu />

        <div class="pc-container container">
            <div class="pc-content">
                <Mendi.Blazor.DynamicNavigation.BlazorDynamicNavigator />
            </div>
        </div>
    }
}
