@attribute [AllowAnonymous]
<PageTitle>Sign In - My Dashboard App</PageTitle>


<div class="auth-main">
    <div class="auth-wrapper v1">
        <div class="auth-form">
            <div class="card my-5">
                <div class="card-body">
                    <p class="text-center f-w-500">This is a sample app that shows the features of a nuget package I wrote, available <a href="https://github.com/danielmendie/Mendi.Blazor.DynamicNavigation" target="_blank" rel="noopener">here</a>. <br />With it <span class="text-primary">security starts from the URL</span></p>
                    <div class="saprator my-3"><span>LOGIN</span></div>
                    <EditForm OnValidSubmit="OnValidSubmit" Model="EditContext">
                        <DataAnnotationsValidator />
                        <p class="text-center f-w-500 text-muted">This is an app with no API. Everything is fully frontend</p>
                        <MudTextField T="string" @bind-Value="EditContext.Email" Label="Email Address" For="() => EditContext.Email" HelperText="Any random email is good enough" HelperTextOnFocus InputMode="InputMode.email" InputType="InputType.Email"></MudTextField>
                        <MudTextField T="string" @bind-Value="EditContext.Password" Label="Password" For="() => EditContext.Password" HelperText="Any secure random password" HelperTextOnFocus InputType="InputType.Password"></MudTextField>
                        <div class="d-flex mt-1 justify-content-between align-items-center">
                            <div class="form-check">
                                <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked=""> <label class="form-check-label text-muted" for="customCheckc1">Remember me?</label>
                            </div>
                        </div>
                        <div class="d-grid mt-4">
                            <MudButton Disabled="@IsBusy" Size="Size.Large" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" Class="">
                                @if (IsBusy)
                                {
                                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                    <MudText Class="ms-2">Please Wait</MudText>
                                }
                                else
                                {
                                    <MudText Class="ms-2">Login</MudText>
                                }
                            </MudButton>
                        </div>
                    </EditForm>
                    <div class="d-flex justify-content-between align-items-end mt-4">
                        <h6 class="f-w-500 mb-0">Don't have an Account?</h6>
                        <a href="" @onclick:preventDefault class="link-primary">You don't need one 😎</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
