<PageTitle>Bio-data Update - My Country App</PageTitle>

<div class="col-sm-8 col-xs-12 ml-auto mr-auto mt-auto mb-auto">
    <h1>Bio-Data Update</h1>
    <p class="text-muted mb-5">
        Bio data update is part of our KYC process. Please provide accurate information
    </p>

    <div class="card">
        <div class="card-header"><h5>KYC Form</h5></div>
        <div class="card-body">
            <div class="col-sm-6 col-xs-12 ml-auto mr-auto mt-auto mb-auto">
            <EditForm Model="@EditContext" Context="EditFormContext" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <div class="mb-3">
                <MudTextField @bind-Value="EditContext.Name" Label="Full name" InputMode="InputMode.text" T="string" For="() => EditContext.Name" HelperText="What people call you" HelperTextOnFocus="true" />
            </div>
                    <div class="mb-3">
                <MudTextField @bind-Value="EditContext.Email" Label="Email address" InputMode="InputMode.email" T="string" For="() => EditContext.Email" HelperText="This email will be bind to your profile, when you switch profile this email will be required to login" HelperTextOnFocus="true" />
            </div>
                <MudButton Disabled="@IsLoading" Size="Size.Large" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" Class="mt-2">
                    @if (IsLoading)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        <MudText Class="ms-2">Please Wait</MudText>
                    }
                    else
                    {
                        <MudText>Update Profile</MudText>
                    }
                </MudButton>
            </EditForm>
        </div>
        </div>
    </div>
</div>