<div class="card error-card">
    <div class="card-body">
        <div class="error-image-block">
            <MudIcon Icon="@Icon" Color="Color.Primary" Size="Size.Large" />
        </div>
        <div class="text-center">
            @if (string.IsNullOrEmpty(Message))
            {
                <h1 class="mt-5"><b>No Internet</b></h1>
                <p class="mt-2 mb-4 text-muted">Contents will be available when you<br /> connect to the internet</p>
            }
            else
            {
                if (!string.IsNullOrEmpty(Header))
                {
                    <h1 class="mt-5"><b>@Header</b></h1>
                }
                <p class="mt-2 mb-4 text-muted">@Message</p>
            }
        </div>
    </div>
</div>

@code{
    [Parameter] public string? Message { get; set; }
    [Parameter] public string? Header { get; set; }
    [Parameter] public string Icon { get; set; } = @Icons.Material.TwoTone.SignalWifiStatusbarConnectedNoInternet4;
}